*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
ul,li{
padding: 0;
margin: 0;}
html,
body {
  height: 100%;
  font-size: 16px;
  font-weight: 400;
}

body {
  background: #efefef;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
  font-family: 'roboto', Arial, Helvetica, sans-serif;
}

.main {}

.wrapper {
  min-height: 100%;
  width: 1920px;
}

.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.main {}

.none {}

a {
  text-decoration: none;
}

img {
  vertical-align: top;
  width: 100%;
  height: auto;
}

/*-------------------------------------header__nav----------------------------------------*/
.container__top {
  width: 477px;
  margin: 0 auto;
}

.header__nav {
  background: #efefef;
  min-height: 50px;
}

.nav {}

.nav__list {
  padding: 15px 0 0 0;
}

.nav__item {
  float: left;
  overflow: hidden;
  text-align: center;
}

.nav__link {
  padding: 10px 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14px;
  color: #333333;
  letter-spacing: 0.06px;
}

/* --------------------------------header__logo----------------------------------------- */
.header__logo {}

.links {
  min-height: 120px;
  padding: 20px 0px;
  background-color: #ffffff;
  overflow: hidden;
}

.links__list {
  overflow: hidden;
  align-items: center;
  text-align: center;
  align-content: center;
}

.links__icons {
  float: left;
}

.links__buttons {
  float: right;
  overflow: hidden;
  height: 80px;
  padding: 20px 0px 0px 0px;
}

.links__btn-number {
  line-height: 1.18;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  font-weight: 400;
  float: left;
  padding: 9px 42px;
}

.logo__number-link {}

.links__btn-call {
  background: #FFFFFF;
  border: 2px solid #F13C6E;
  border-radius: 40px;
  max-width: 170px;
  min-height: 40px;
  padding: 8px 26px;
  line-height: 1.06;
  float: right;
}

.links__call-link {
  font-size: 14px;
  font-weight: 400;
}

/* --------------------------------header__menu ----------------------------------------- */
.header__menu {
  min-height: 79px;
  border-top: 1px solid #EFEFEF;
  background: #FFFFFF;
  padding: 28px 0px;

}

.menu {}

.container__menu {
  width: 680px;
  margin: 0 auto;
}

.menu__items {
  overflow: hidden;
}

.menu__item:not(:last-child) {
  float: left;
  margin: 0px 44px 0px 0px;
}

.menu__link {
  font-size: 16px;
  line-height: 1.18;
  color: #000000;
  font-weight: 400;
  padding: 20px 0;
}

/* ----------------.............super............---------------- */
.main__super {
  min-height: 604px;
  background: url(../img/super/supper.jpg);
}

.super {}

.super__items {
  padding: 190px 0px;
}

.super__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.16;
  color: #FFFFFF;
  letter-spacing: -1.3px;
  margin: 0px 0px 40px 0px;
}

.super__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.44;
  color: #FFFFFF;
  letter-spacing: 0.2px;
  margin-bottom: 43px;
}

.super__btn {
  max-width: 170px;
  min-height: 40px;
  background: #F13C6E;
  border: 2px solid #FFFFFF;
  border-radius: 40px;
  padding: 10px 40px 10px 8px;
}

.super__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  padding: 10px 35px;
}

/* -----------------------------special--------------------------- */
.special__block {
  min-height: 610px;
}

.special {}

.special__container {}

.container__cards {
  padding: 80px 0;
}

.container__cards-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  color: #000000;
  margin: 0px 0px 39px 0px;
  letter-spacing: -0.7px;
}

.block__cards {
  overflow: hidden;
}

.card {}

.card__container {
  background: #FFFFFF;
  padding: 25px 35px 25px 35px;
  float: left;
  width: 22.97%;
  text-align: center;
  align-content: center;
  height: 363px;
  margin: 0px 0px 0px 0px;
}

.card__container:not(:last-child) {

  margin-right: 30px;
}

.card__container-img {
  margin: 0px 0px 18px 0px;
}

.card__container-img img {
  width: 68%;
}

.card__container-info {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42;
  color: #333333;
  margin: 0px 0px 13px 0px;
}

.card__container-price {
  font-weight: 500;
  font-size: 21px;
  line-height: 1.19;
  letter-spacing: 0.05em;
  color: #000000;
  margin: 0px 0px 16px 0px;
  display: inline-block;
}

.card__container-btn {
  max-width: 130px;
  min-height: 35px;
  background: #F13C6E;
  border-radius: 30px;
  display: inline-block;
  padding: 8px 0px 8px 0px;
}

.card__btn-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  padding: 9px 41px;
}

/* -----------BOnuS--------- */
.bonus__block {
  margin: 0px 0px 100px 0px;
}

.bonus {}

.bonus__content-block {
  overflow: hidden;
}

.block {
  margin-right: 30px;
}

.bonus__item-block {
  background: #F13C6E;
  padding: 35px 40px 35px 40px;
  width: 48.6%;
  float: left;
}

.bonus__item-info {
  max-width: 60%;
  float: left;
}

.bonus__item-img {
  float: right;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.bonus__item-img img {
  width: 100%;
  padding: 20px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.bonus__info-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  color: #FFFFFF;
  margin: 0px 0px 19px 0px;
  letter-spacing: -0.5px;
}

.bonus__info-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42;
  color: #FFFFFF;
  margin: 0px 0px 25px 0px;
  letter-spacing: 0.2px;
}

.bonus__info-input {
  background: #FFFFFF;
  border-radius: 30px;
  width: 225px;
  min-height: 35px;
  padding: 0px 0px 0px 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #C4C4C4;
}

.bonus__info-btn {
  background: #F13C6E;
  border: 2px solid #FFFFFF;
  border-radius: 30px;
  padding: 8px 29px 8px 29px;
}

.bonus__btn-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  color: #FFFFFF;
  letter-spacing: 0.2px;
  padding: 7px 0;
}

/* ...............................imppuls................................ */
.impuls__block {}

.imppuls {}

.imppuls__container {
  overflow: hidden;
}

.imppuls__item {
  width: 25%;
  background: #FFFFFF;
  float: left;
  border: 1px solid #EFEFEF;
  height: 119px;
  text-align: center;
}

.imppuls__link {
  display: inline-block;
  padding: 31px 8px 30px 5px;
}

.imppuls__img {}

/* ..........................popular............ */
.popular__block {
  min-height: 372px;
  background-color: #FFFFFF;
}

.popular {}

.container {}

.popular__content {
  overflow: hidden;
}


.popular__item {
  float: left;
  width: 22.7%;
  margin: 0px 34px 0px 0px;

}

.popularr {
  margin: 0;
}


.popular__title {

  border-bottom: 1px solid #EFEFEF;
  padding: 58px 149px 25px 0px;
  margin: 0px 0px 25px 0px;
}

.popular__title a {
  color: #000000;
  font-weight: 500;
  font-size: 16px;
  line-height: 140.62%;
}

.popular__list {}

.popular__list-item {}

.popular__item-link {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  font-weight: 400;
  font-size: 12px;
  line-height: 2.33;
  color: #828282;
}

/* ........................................ */
.social__container {
  border-top: 1px solid #EFEFEF;
}

.links {}

.container {}

.links__list {}

.links__icons {}

.links__social {
  width: 45px;
  height: 45px;
  background: #FFFFFF;
  border-radius: 50%;
  border: 2px solid #F13C6E;
  float: left;
  line-height: 45px;
  margin: 15px 19px 0px 0px;
  padding: 0px 0px 0px 0px;
  
}

.icon-yotube {
  padding: 9px;
}

.icon-vkontakte {
  padding: 9px;
}

.icon-facebook {
  padding: 9px;
  font-size: 17px;
  
}

.icon-instagram {
  padding: 9px;
  font-size: 20px;
}